* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.Info {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.Casino {
  font-weight: 700;
  font-size: 45px;
  color: grey;
}
